OIShoppingListWinPhone/SampleData/SortOrderDataSource/SortOrderDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SortOrderDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SortOrderDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SortOrderDataSource" type="tns:SortOrderDataSource" />
  <xs:complexType name="SortOrderDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="10,10" name="SortOrder" type="xs:string" />
  </xs:complexType>
</xs:schema>